/* PRESETS
/––––––––––––––––––––––––*/

.content-block {
	//create the "container" with this applied to any row or any 100% width element
	padding: 0 6.5rem;

	@include media("<lg") {
		padding: 0 3.75rem;
	}
	@include media("<sm") {
		padding: 0 1rem;
	}
}

.content-max {
	max-width: 1920px;
	margin: 0 auto;

	@include media("<2xl") {
		max-width: 1520px;
	}
	@include media("<xl") {
		max-width: 1360px;
	}
}

.noscroll {
	overflow: hidden;
}

:focus {
	outline: 0;
}

.img-fluid {
	max-width: 100%;
	height: auto;
}

.mono {
	font-family: $monospace__fontname;
}

[data-text-hover] {
	position: relative;
	overflow: hidden;
	background: linear-gradient(
		to right,
		$color__link,
		$color__link 50%,
		$color__dark 50%
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 200% 100%;
	background-position: 100%;
	transition: background-position 400ms ease-in-out;
	text-decoration: none; // text decorations are clipped in WebKit browsers
	&:hover {
		background-position: 0 100%;
	}
}
