@import "tailwindcss";

/* Class based dark mode */
@variant dark (&:where(.dark, .dark *));

@layer utilities {
	.font-monospace {
		font-family: var(--font-monospace) !important;
	}

	.font-header {
		font-family: var(--font-header) !important;
	}

	.font-text {
		font-family: var(--font-text) !important;
	}

	.size-h1 {
		font-size: var(--text-h1) !important;
		@media (max-width: 1520px) {
			font-size: 68px !important;
		}
	}

	.size-h2 {
		font-size: var(--text-h2) !important;
		@media (max-width: 1520px) {
			font-size: 45px !important;
		}
	}

	.size-h3 {
		font-size: var(--text-h3) !important;
		@media (max-width: 1520px) {
			font-size: 35px !important;
		}
	}

	.size-h4 {
		font-size: var(--text-h4) !important;
		@media (max-width: 1520px) {
			font-size: 30px !important;
		}
	}

	.size-h5 {
		font-size: var(--text-h5) !important;
	}

	.size-h6 {
		font-size: var(--text-h6) !important;
	}

	.size-p {
		font-size: var(--text-p) !important;
	}
}

@theme {
	--breakpoint-sm: 40rem; /* 640px */
	--breakpoint-md: 48rem; /* 768px */
	--breakpoint-lg: 64rem; /* 1024px */
	--breakpoint-xl: 85rem; /* 1360px */
	--breakpoint-2xl: 95rem; /* 1520px */

	--color-main: var(--main_color);
	--color-text: var(--text_color);
	--color-link: var(--link_color);
	--color-link-hover: var(--link_color_hover);
	--color-footer-bg: var(--footer-color);
	--color-bright: #ffffff;
	--color-dark: #000000;
	--color-gray: #f0f0f0;

	--text-h1: var(--text-h1);
	--text-h2: var(--text-h2);
	--text-h3: var(--text-h3);
	--text-h4: var(--text-h4);
	--text-h5: var(--text-h5);
	--text-h6: var(--text-h6);
	--text-p: var(--text-p);

	/* Fonts */
	--default-font-family: "neue-haas-grotesk-display", sans-serif;

	--font-text: "neue-haas-grotesk-display", sans-serif;
	--font-header: "neue-haas-grotesk-display", sans-serif;
	--font-monospace: "IBM Plex Mono", monospace;

	/* Animations */
	--animate-full-tl: full-tl 25s linear infinite;
	--animate-full-tr: full-tr 25s linear infinite;

	@keyframes full-tl {
		0% {
			transform: translateX(0);
		}
		100% {
			transform: translateX(-100%);
		}
	}

	@keyframes full-tr {
		0% {
			transform: translateX(0);
		}
		100% {
			transform: translateX(100%);
		}
	}
}

/* Alpine x-cloak style (https://alpinejs.dev/directives/cloak) */
@layer base {
	[x-cloak] {
		display: none !important;
	}
}
